@model IEnumerable<CaprisMedica.UI.Models.Empleados>

@{
    ViewData["Title"] = "Index";
    Layout = "Layout2";
}

<div class="block-header">
    <h1>Lista de Empleados</h1>
</div>

<div class="row">
    <div class="col-xs-12">
        <button type="button" class="btn bg-grey waves-effect" onclick="location.href='@Url.Action("Create", "Empleados")'">Agregar Empleado</button><br /><br />
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover js-basic-example dataTable" id="DatoEmpleado">
                        <thead>
                            <tr>
                                <th>Cédula</th>
                                <th>Nombre</th>
                                <th>Primer Apellido</th>
                                <th>Segundo Apellido</th>
                                <th>Correo</th>
                                <th>Estado</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EmpleadoCedula)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EmpleadoNombre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EmpleadoPrimerA)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EmpleadoSegundoA)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EmpleadoCorreo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EmpleadoEstado)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.EmpleadoCedula">Editar</a> |
                                        <a asp-action="Delete" asp-route-id="@item.EmpleadoCedula">Eliminar</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>