@model IEnumerable<CaprisMedica.UI.Models.Clientes>

@{
    ViewData["Title"] = "Index";
    Layout = "Layout2";
}

<div class="block-header">
    <h1>Lista de Clientes</h1>
</div>

<div class="row">
    <div class="col-xs-12">
        <button type="button" class="btn bg-grey waves-effect" onclick="location.href='@Url.Action("Create", "Clientes")'">Agregar Cliente</button><br /><br />
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover js-basic-example dataTable" id="DatoCorreo">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Correo</th>
                                <th>Estado</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ClienteId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ClienteNombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ClienteCorreo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ClienteEstado)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.ClienteId"><i class="material-icons">edit</i></a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>