@model IEnumerable<CaprisMedica.UI.Models.Solicitudes>

@{
    ViewData["Title"] = "Index";
    Layout = "Layout2";
}

<div class="block-header">
    <h1>Lista de Solictudes</h1>
</div>

<div class="row">
    <div class="col-xs-12">
        <button type="button" class="btn bg-grey waves-effect" onclick="location.href='@Url.Action("Create", "Solicitudes")'">Agregar Solicitud</button><br /><br />
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover js-basic-example dataTable" id="Solicitudes">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Provincia</th>
                                <th>Cliente</th>
                                <th>Departamento</th>
                                <th>Equipo</th>
                                <th>Encargado</th>
                                <th>Tipo Trabajo</th>
                                <th>Motivo</th>
                                <th>Fecha Reporte</th>
                                <th>Hora Entrada</th>
                                <th>Hora Salida</th>
                                <th>Tipo Hora</th>
                                <th>Horas laboradas</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SolicitudId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Provincia)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Cliente)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Departamento)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Equipo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EmpleadoCedula)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TipoTrabajo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SolicitudMotivo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FechaReporte)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.HoraEntrada)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.HoraSalida)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TipoHora)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CantidadHoras)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.SolicitudId"><i class="material-icons">edit</i></a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>